/* CUSTOM QUICK CSS TO HIDE NITRO UPSELLS BY NPXTUNE */

/* Hide Nitro and Shop Buttons over Friends list */
#app-mount > div.appAsidePanelWrapper_bd26cc > div.notAppAsidePanel_bd26cc > div.app_bd26cc > div > div.layers_d4b6c5.layers_a01fb1 > div > div > div > div > div > nav > div.scroller_c47fa9.thin_eed6a8.scrollerBase_eed6a8.fade_eed6a8 > ul > li:nth-child(3), li:nth-child(4) {
    display: none;
}

/* Hide nitro app theme in appearance settings */
#appearance-tab > div > div.children_aba8cb > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div {
    display: none;
}

/* Hide nitro app icon in appearance settings */
#appearance-tab > div > div.children_aba8cb > div:nth-child(2) > div.selectionGroup_f2b958 {
    display: none;
}

/* Hide the Nitro & Server Boost tab in settings */
#app-mount > div.appAsidePanelWrapper_bd26cc > div.notAppAsidePanel_bd26cc > div.app_bd26cc > div > div.layers_d4b6c5.layers_a01fb1 > div:nth-child(2) > div > div.sidebarRegion_c25c6d > div > nav > div > div.premiumTab_c10c74.item_a0.themed_a0 {
    display: none;
}

#app-mount > div.appAsidePanelWrapper_bd26cc > div.notAppAsidePanel_bd26cc > div.app_bd26cc > div > div.layers_d4b6c5.layers_a01fb1 > div:nth-child(2) > div > div.sidebarRegion_c25c6d > div > nav > div > div:nth-child(14) {
    display: none;
}

/* Hide merch button*/
div.item__48dda:nth-child(43) {
    display: none;
}

/* Hide the palworld ad in the profil tab */
#profile-customization-tab > div.container_da1432 {
    display: none;
}

/* Hide the nitro ads in profile tab */
#profile-customization-tab > div.premiumFeatureBorder__6ac04.featureBorder__404e3.tryItOutSection_d658ca {
    display: none;
}

#profile-customization-tab > div:nth-child(5) > div > div > div.sectionsContainer_d2a766 > div.upsellOverlayContainer__9580e > div.upsellOverlay__988e7 {
    display: none;
}

/* Hide gift button*/
#app-mount > div.appAsidePanelWrapper_bd26cc > div.notAppAsidePanel_bd26cc > div.app_bd26cc > div > div.layers_d4b6c5.layers_a01fb1 > div > div > div > div > div.chat_a7d72e > div.content_a7d72e > main > form > div > div > div > div > div.buttons_d0696b > button {
    display: none;
}

/* Hide nitro ad invite */
div.flex-2S1XBF:nth-child(4) {
    display: none;
}
